<div class="col-12 col-sm align-self-center">
    <a role="button" class="btn btn-block nav-link btn-warning"
        data-toggle="tooltip" data-html="true"  title="Or Call us at  <br><strong>+852 12345678</strong>"
        data-placement="bottom" href="#reserveform">Reserve Table</a>    
</div>